* {
    background: rgb(216, 241, 246);
    background: linear-gradient(90deg, rgba(236,251,254,1) 0%, rgba(244,250,251,1) 89%);
}

@import url('https://fonts.googleapis.com/css?family=Arvo');

*,
*:before,
*:after {
  box-sizing: border-box;
}

.navbar{
    font-family:'Arvo', sans-serif;
}

h1 {
  text-align: center;
  color: #a8a8a8;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 1);
}

form {
  max-width: 1100px;
  text-align: center;
  margin: 20px auto;
}

form input,
form textarea {
  border: 0;
  outline: 0;
  padding: 1em;
  border-radius: 8px;
  display: block;
  width: 100%;
  margin-top: 1em;
  font-family: 'Arvo', sans-serif;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  resize: none;
}

form input:focus {
  box-shadow: 0 0px 2px rgb(27, 25, 25) !important;
}

form #input-submit {
  color: white;
  background: #5f7374;
  cursor: pointer;
  max-width: 800px;
  position: relative;
  left: 15%;
  right: 50%;
}

form #input-submit:hover {
  box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
}

form textarea {
  height: 160px;
}

.half {
  float: left;
  width: 48%;
  margin-bottom: 1em;
}

.right {
  width: 50%;
}

.left {
  margin-right: 2%;
}

@media (max-width: 480px) {
  .half {
    width: 100%;
    float: none;
    margin-bottom: 0;
  }
}

/* Clearfix */
.cf:before,
.cf:after {
  content: " ";
  display: table;
  font-size: xx-large;
}

.cf:after {
  clear: both;
}